<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key='maxHttpRequestsPerSource' value='20' />
  </config>
    <packageSources>
        <clear />
        <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
        <add key="github" value="https://nuget.pkg.github.com/YellowStoneApp/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="rpbarnes9@gmail.com" />
            <!--This ain't great. It's a readonly PAC but there's a more secure way to handle reading packages in docker containers-->
            <add key="ClearTextPassword" value="97468e867ca163f225c30f081847ab5eb83d78a4" />
        </github>
    </packageSourceCredentials>
</configuration>
